<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web ScrapR</title>
</head>
<body>
    {{{ body }}}

    <script src="/assets/javascript/.app.js"></script>
</body>
</html>